
@{
    ViewBag.Title = "Knowledgebase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!--figure
    <div style="text-align:center">
        <img src="~/Image/legalGenie.PNG" />
    </div>-->
    <!--Search bar
    <div style="text-align:center;margin-top:50px;">
        <input style="width:50%" type="text" placeholder="Search topics...">
    </div>

    <!-- Q & A -->
    <div class="container" style="margin-top:100px">
        <div class="row">
            <div class="col-sm-4">
                <h1 style="font-size:20px;font-style:italic;font-family:'Times New Roman', Times, serif">ISSUE ONE</h1>
                <h2 style="font-size:20px;font-style:italic;font-family:'Times New Roman', Times, serif">bond</h2>
            </div>
            <div class="col-sm-8">
                <button class="collapsible">Q:  What is a rental bond? And why I need to pay the bond to landlord?</button>
                <div class="content">
                    <p>
                        A rental bond is a payment that is requested on behalf of owners from a signing tenant as financial protection in case there's a breach of the lease agreement.<br>
                        You typically pay a bond to a landlord or property manager before you move into your new house.
                    </p>
                </div>
                <button class="collapsible">Q:  Who is responsible for our bond? I mean where is the bond lodgement?</button>
                <div class="content">
                    <p>
                        A bond is a sum of money usually paid to the landlord or their agent, at the start of your tenancy.<br>
                        By law, if your landlord asks you to pay a bond it MUST be lodged with the Residential Tenancies Bond Authority (RTBA) and held by the RTBA until your tenancy ends.<br>
                        Further information click RTBA Online: Home Page <a href="https://rentalbonds.vic.gov.au/">https://rentalbonds.vic.gov.au</a>
                    </p>
                </div>
                <button class="collapsible">Q:  So how much I need to pay the bond? How to calculate it?</button>
                <div class="content">
                    <p>
                        In a short-term lease (five years or less), if your weekly rent is $350 or less, the bond cannot be more than the equivalent of one month’s rent.<br>
                        In a long-term lease (more than five years) using Form 2, if the weekly rent is $760 or less, the bond cannot be more than the equivalent of one month’s rent.
                    </p>
                </div>
                <button class="collapsible">Q:  The landlord or agency deduct my bond without a reasonable reason, how can I solve this problem?  </button>
                <div class="content">
                    <p>
                        There are two methods to tackle with this situation.<br>

                        The first one is to seek help from your university student support departments like Student welfare or student accommodation office, almost every university has this kind of support center.<br>

                        The second one is to seek help from Tenents union <a href="https://www.tuv.org.au/">(https://www.tuv.org.au/)</a><br>

                        They have volunteers here to assist you for free. What's more, they also have language translator service, so you don't worry to speak to them.<br>

                        The third one is Consumer Affairs Victoria <a href="https://www.consumer.vic.gov.au/">(https://www.consumer.vic.gov.au/)</a> if your problems cannot solve by yourself, a face-to-face or telephone assistance will provide for you.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h1 style="font-size:20px;font-style:italic;font-family:'Times New Roman', Times, serif">ISSUE TWO</h1>
                <h2 style="font-size:20px;font-style:italic;font-family:'Times New Roman', Times, serif">Lease Agreement</h2>
            </div>
            <div class="col-sm-8">
                <button class="collapsible">
                    Q:  What is a lease agreement? I don't have a lease, just an oral agreement. Is that normal? In what form should the lease be given to me?
                </button>
                <div class="content">
                    <p>
                        A rent agreement is a legal document which lays out the pre-discussed terms and conditions under which the rented property is leased out that is to be followed between the landlord and the tenant.<br>
                        Hence, lease agreement is a paper document, ending by your signature and agency or landlord’s signature.
                    </p>
                </div>
                <button class="collapsible">
                    Q:  What should be included in a rental agreement?
                </button>
                <div class="content">
                    <p>
                        A standard residential lease agreement usually includes:<br>

                        Contact details for the lessor and tenant (if the lessor is represented by a property manager, contact information for both should be included)<br>

                        The address of the property that is being rented<br>

                        Whether a property manager the lessor should be contacted for urgent repairs<br>

                        Lease terms, such as the tenancy duration, rent amount, and the frequency of rent payments (weekly, monthly, fortnightly, or annually)<br>

                        Rules regarding pets, smoking, or guests<br>

                        The method of payment accepted for rent, such as cash, cheque, credit, debit, or payroll deduction<br>

                        Whether a rental bond (security deposit) is required<br>

                        The rental agreement should include other details, such as the rental rights and obligations of the lessor and tenant.
                    </p>
                </div>
                <button class="collapsible">Q:  Are there any special points to be noted in the lease contract?</button>
                <div class="content">
                    <p>
                        Here, our legal genie concludes 5 points on rental agreement  to help you avoid traps:<br>

                        Reading thorough your lease from head to end, particularly on how long you’ll be renting the property, how much you will pay each week, and what your responsibilities are.<br>

                        Knowing your rights, it should be detailed in your lease.<br>

                        Bond. You need to know who keep your bond, pay attention NOT the landlord holds your bond. All rental bonds for tenants must be lodged with the Residential Tenancies Bond Authority (RTBA).<br>

                        Repairs and maintenance. Clear lines of responsibility between your and your landlord on keeping the property in a good condition for the tenant to live in.<br>

                        Leaving the property. You should notify your landlord in advance at least 2 or 3weeks with a writing paper if you don’t want to continue your lease.
                    </p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h1 style="font-size:20px;font-style:italic;font-family:'Times New Roman', Times, serif">ISSUE THREE</h1>
                <h2 style="font-size:20px;font-style:italic;font-family:'Times New Roman', Times, serif">Rights and Obligations </h2>
            </div>
            <div class="col-sm-8">
                <button class="collapsible">Q:  Is necessary to read the rights and obligations in lease agreement?</button>
                <div class="content">
                    <p>
                        Yes, you need to read it carefully although it contains so many contents. <br>
                        Landlords and tenants have various rights and obligations during the tenancy agreement.<br>
                        Knowing your position also is another form of protection.
                    </p>
                </div>
                <button class="collapsible">Q:  What are the landlords’ rights and obligations?</button>
                <div class="content">
                    <p>
                        Rights:<br>
                        To receive rents as agreed.<br>
                        To inspect the property during specific hours and under certain circumstances.<br>
                        To increase the rent within a legally prescribed period of time.<br>
                        To have the property kept free from damage, subletting, excessive noise, disruption to other tenants, etc.<br>
                        <br>
                        Obligations:<br>
                        Maintain the property.<br>
                        Make and/or pay for necessary repairs.<br>
                        Provide notifications in writing when the property is being transferred to a new owner, or when other changes are made that potentially affect the tenant.<br>
                        Refrain from turning off utilities in an effort to get unpaid rent or otherwise affect a tenant.<br>
                        Ensure the premises remain safe and deal with other tenants who are causing a problem or who are violating the terms and conditions of their lease.
                    </p>
                </div>
                <button class="collapsible">
                    Q: What are the tenants’ rights and obligations?
                </button>
                <div class="content">
                    <p>
                        Rights:<br>
                        The right to exclude the landlord from entering the property except for times agreed upon in writing in advance.<br>
                        The right to have the security deposit returned at lease-end, minus any expenses arising from damage or unpaid rents.<br>
                        The right to have the property maintained and appliances repaired in a timely fashion.<br>
                        The right not to be discriminated against during the rental or tenancy phases.<br>
                        The right to be informed in writing of any changes to the contract or landlord-tenant arrangements.<br>
                        The right not to be evicted without proper notice.
                        <br>
                        Obligations:<br>
                        Paying rent in full and on time every month as agreed.<br>
                        Paying any late fees and bounced check fees as defined in the contract, when necessary.<br>
                        Disposing of garbage in an appropriate and timely fashion.<br>
                        Maintaining the property in a reasonable way and making every effort not to damage the property willfully or negligently.<br>
                        Not taking on additional tenants or subletting without the express consent of the landlord.<br>
                        Not creating a disturbance or safety hazard for other residents living in the building.
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4">
                <h1 style="font-size:20px;font-style:italic;font-family:'Times New Roman', Times, serif">ISSUE FOUR</h1>
                <h2 style="font-size:20px;font-style:italic;font-family:'Times New Roman', Times, serif">Scams </h2>
            </div>
            <div class="col-sm-8">
                <button class="collapsible">Q: What is the rental scam?</button>
                <div class="content">
                    <p>
                        scammers may show you through a property, when they have no right to rent it to you.<br>
                        The scammers may try to appear genuine by providing photos, real addresses of properties, land title deeds and even scans of stolen passports.<br>
                        They scam you by asking for a month's bond and rent to secure the property.
                    </p>
                </div>
                <button class="collapsible">Q: How the scam works?</button>
                <div class="content">
                    <p>
                        Scammers advertise rental properties on well-known property websites.<br>
                        When you express interest, they say they are overseas or interstate and that you must conduct the transaction online.<br>
                        Also, scammers may show you through a property, when they have no right to rent it to you.<br>
                        The scammers may try to appear genuine by providing photos, real addresses of properties, land title deeds and even scans of stolen passports.<br>
                        They scam you by asking for a month’s bond and rent to secure the property.<br>
                        If you pay by money transfer, there is very little chance of recovering your money.<br>
                        Scammers may also ask for personal details such as bank and credit card numbers and driver’s licence details, which they use for credit card and identify fraud.
                    </p>
                </div>
                <button class="collapsible">
                    Q: How can I protect myself?
                </button>
                <div class="content">
                    <p>
                        If possible, verify the identity of the person you are dealing with.<br>
                        For example, if they say they work for an established estate agency, you could contact the agency to confirm you are dealing with their representative.<br>
                        If the property owner offers ongoing excuses about why you cannot view the property in person - such as them being overseas – be wary.<br>
                        Avoid paying via money transfer services, or making a payment directly into a bank account, because these methods may be less secure than using BPAY.<br>
                        If you are paying a bond for a Victorian property, it's best to pay via a money order or bank cheque made out to the Residential Tenancy Bond Authority (RTBA).<br>
                        Do an internet search with images from the advertising, to check they haven’t been copied from another site. You can use image search websites such as Google images or TinEye.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h1 style="font-size:20px;font-style:italic;font-family:'Times New Roman', Times, serif">ISSUE FIVE</h1>
                <h2 style="font-size:20px;font-style:italic;font-family:'Times New Roman', Times, serif">Notice Periods  </h2>
            </div>
            <div class="col-sm-8">
                <button class="collapsible">Q: If I don't want to renew my lease, how long should I inform the landlord in advance?</button>
                <div class="content">
                    <p>
                        A Notice of Intention to Vacate is simply a letter to the landlord that states the date you will be leaving. <br>
                        This date must be 28 days from the day that the landlord receives the notice. <br>
                        This means that if you send the notice by mail rather than giving it in person, you need to allow extra days for delivery. <br>
                        See Australia Post delivery times.<br>
                        You can also send the notice by email if the landlord or agent has agreed to you giving notices this way.<br>
                        If you send the notice by email, you should make sure it is to the email address nominated by the landlord or real estate agent and if possible request a read receipt.<br>
                        However, we recommend that you use registered mail and keep the mail receipt so you can prove the date that you sent it. You should also keep a copy of your notice.
                    </p>
                </div>
                <button class="collapsible">Q: How long can a tenant stay without paying rent?</button>
                <div class="content">
                    <p>
                        A 3-day notice does not mean you will be kicked out in 3 days. <br>
                        An eviction processcan take 2-3 months or longer. <br>
                        Typically, you will not receive a 3-day notice until you are at least 30 days past due, so at the time of receipt you would owe at least 2 months rent.
                    </p>
                </div>
                <button class="collapsible">
                    Q: Do I have to sign a new lease when my fixed term lease ends?
                </button>
                <div class="content">
                    <p>
                        No.  There is no requirement to renew or re-sign a fixed term tenancy agreement. <br>
                        When your lease expires, your tenancy automatically converts to a periodic tenancy. <br>
                        This is set out in clause 5 of the standard tenancy agreement. <br>
                        If the landlord wants to prevent a periodic tenancy from starting, they have to give you written notice to move out at the end of the lease, and they MUST give this to you at least 26 weeks before your lease ends.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                }
                else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>