@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Tenancy trip</title>

    <!-- Bootstrap core CSS -->

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Reenie Beanie' rel='stylesheet'>
    <!-- Custom styles for this template -->
    <link href="~/css/one-page-wonder.min.css" rel="stylesheet" />
    <link href="~/Content/homeindex.css" rel="stylesheet" />
    <link href="~/favicon1.ico" rel="icon" type="image/x-icon">
    <link href="~/Content/homeindex.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>

</head>

<body>
    <script type="text/javascript" color="0,255,255" opacity='1.0' zIndex="-1" count="99"
            src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <script>
            $(window).on("load",function(){
         $(".loader-wrapper").fadeOut("slow");
    });
    </script>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="http://tenancytrip.tk/" style="text-transform: capitalize;font-family: inherit;font-size:25px;letter-spacing: 5px;font-weight: 300;">Tenancy Trip</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="navbar-collapse collapse" id="navbarResponsive" style="">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://tenancytrip.tk/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://tenancytrip.tk/Home/Check">Check It</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://tenancytrip.tk/Home/Information">Know It</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://tenancytrip.tk/Home/Questionnaire">Facing It?</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <video id="video1" autoplay muted loop style="width: 100%;  height: auto">
            <source src="~/Resource/HomepageVideoV2.mp4" type="video/mp4" />
        </video>


            <a href="#trip" id="button1" class="btn btn-primary btn-xl rounded-pill " style="position:absolute;top:70%;left:40%;text-decoration:none;background:none;font-weight:300">Take a trip</a>

    </header>

    <section>
        <div class="container" id="trip">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/Resource/1_content.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4"><span class="highlight_headings">Check </span>before you move in!</h2>
                        <p>
                            Feeling confused about rent, bond money and documents? Here is a <span class="highlight_word">simple steps</span> for you to
                            check the standard rent for your suitable suburb and know your bond amount to pay before you
                            move in. Know about the vital information of documents before you sign it.
                        </p>
                        <a href="http://tenancytrip.tk/Home/Check" style="text-decoration:none;background:none;border:1px solid;padding:10px;margin-left:33%;border-radius: 20px;">Check now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/Resource/2_content.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Do you <span class="highlight_headings">know </span>your rights?</h2>
                        <p>
                            Victoria has an estimated <span class="bold_word">200K students </span>arriving from different countries, ranked second in
                            Australia. Almost <span class="bold_word">51% </span>of students are treated unfairly by the landlords due to the lack of
                            awareness of legal tenancy information and <span class="bold_word">66% </span>of students does not know about the proper
                            legal tenancy information. It is your <span class="highlight_word">right to know </span>about your legal tenancy rights.
                        </p>
                        <a href="http://tenancytrip.tk/Home/Information" style="text-decoration:none;background:none;border:1px solid;padding:10px;margin-left:33%;border-radius: 20px;">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/Resource/3_content.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4"><span class="highlight_headings">Facing </span>any issues?</h2>
                        <p>
                            Don’t worry, we are here to help you in your difficult situations by providing a <span class="highlight_word">solution path </span>with
                            necessary organizations and helplines to solve your problems with ease.
                        </p>
                        <a href="http://tenancytrip.tk/Home/Questionnaire" style="text-decoration:none;background:none;border:1px solid;padding:10px;margin-left:33%;border-radius: 20px;">Solve It</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="m-0 text-center text-white small" style="font-weight: 300;letter-spacing: 2px;">Copyright © Tenancy Trip 2019<br>Developed by SCRY</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
