@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Know your rights</title>

    <!-- Bootstrap core CSS -->

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Reenie Beanie' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Zilla Slab' rel='stylesheet'>
    <link href="~/Content/Knowledgebase.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet'>
    <!-- Custom styles for this template -->
    <link href="~/css/one-page-wonder.min.css" rel="stylesheet" />
    <link href="~/Content/homeindex.css" rel="stylesheet" />
    <link href="~/Content/information.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="~/js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/favicon1.ico" rel="icon" type="image/x-icon">
</head>

<body>
    <script type="text/javascript" color="0,255,255" opacity='1.0' zIndex="-1" count="99"
            src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="http://tenancytrip.tk/" style="text-transform: capitalize;font-family: inherit;font-size:25px;letter-spacing: 5px;font-weight: 250;">Tenancy Trip</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://tenancytrip.tk/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://tenancytrip.tk/Home/Check">Check It</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://tenancytrip.tk/Home/Information">Know It</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://tenancytrip.tk/Home/Questionnaire">Facing It?</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center text-white" style="height:100%">
        <div class="masthead-content" style="height:100%">
            <div class="container">
                <h1 class="masthead-heading mb-0" >“The right to know is like the right to live..”</h1>
                <h2 class="masthead-subheading mb-0" >-George Bernard Shaw-</h2>
                <h2 class="masthead-subheading mb-0" >
                    Try out our interactive quiz to be on the right track for an exciting tenancy experience in Victoria.
                </h2>
                <a href="#knowledge" id="infobtn" class="btn btn-primary btn-xl rounded-pill mt-5" >Learn More</a>
                <p class="masthead-subheading mb-0" id="facing_head" style="font-size:20px;margin-top:20px;width:80%;margin-left:10%">

                    <a style="color:white;font-weight:300" href="http://tenancytrip.tk/Home">Home</a> > Know It !
                </p>
            </div>
        </div>

    </header>

    <div id="knowledge" style="height:60px">
    </div>
    <div id="quiz_iframe" style="align-content: center;margin-left:20%;margin-top: 10px;width: 60%;height: 100%;">

        <iframe name="opinionstage-widget" src="https://www.opinionstage.com/api/v1/widgets/573608/iframe?em=1" width="100%" height="100%" scrolling="no" style="border: none;" frameBorder="0"></iframe>
    </div>
    <a href="#slideshow" onclick="display()" style="position:absolute;top:183%;left:5%;text-align:center;text-decoration:none">    <img style="width:50px;height:31px" src="~/img/arrowdown.png" /><br> <b style="font-weight:300;letter-spacing:1px">   learn more</b></a>
  
    <section id="section1" >

        <div class="slidershow">
            <div id="slideshow" style="height:75px"></div>
            <div class="slides">

                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">
                <input type="radio" name="r" id="r5">

                <div class="slide s1">
                    <!-- bond -->
                    <div style="text-align:center;margin-top:20px;height:50px;width:80%">
                        <h2 style="font-size: 30px;"><b><span class="heading_highlight">BOND</span></b></h2>
                    </div>
                    <div style="width:80%;margin-left:5%">
                        <b style="font-size:20px"><span class="info_highlight">What is a <span class="highlight_headings">rental bond</span>? And why I need to pay the bond to landlord?</span></b>

                        <span class="info_highlight">
                            <ul>
                                <li>A <span class="highlight_word">rental bond</span> is a payment that is requested on behalf of owners from a signing tenant as <span class="highlight_word">financial protection</span> in case there's a breach of the lease agreement.</li>
                                <li>You typically pay a bond to a landlord or property manager before you move into your new house.</li>
                            </ul>
                        </span>
                        <b style="font-size:20px"><span class="info_highlight">Who is <span class="highlight_headings">responsible for our bond</span>? I mean where is the bond lodgement?</span></b>
                        <span class="info_highlight">
                            <ul>
                                <li>A bond is a <span class="highlight_word">sum of money</span> usually paid to the landlord or their agent, at the <span class="highlight_word">start of your tenancy.</span></li>
                                <li>By law, if your landlord asks you to pay a bond it <span class="highlight_word">MUST be lodged with the Residential Tenancies Bond Authority (RTBA)</span> and held by the RTBA until your tenancy ends.</li>
                                <li>
                                    Further information click RTBA Online: Home Page
                                    <a href="https://rentalbonds.vic.gov.au/">(https://rentalbonds.vic.gov.au)</a>
                                </li>
                            </ul>
                        </span>

                        <b style="font-size:20px">So <span class="highlight_headings">how much</span> I need to pay the bond? How to calculate it?</b>
                        <ul>
                            <li>In a short-term lease (five years or less), if your <span class="highlight_word">weekly rent is $350 or less</span>, the bond cannot be more than the <span class="highlight_word">equivalent of one month’s rent.</span></li>
                            <li>In a long-term lease (more than five years) using Form 2, if the <span class="highlight_word">weekly rent is $760 or less, the bond cannot be more than the equivalent of one month’s rent</span>.</li>
                        </ul>
                        <b style="font-size:20px">The landlord or agency <span class="highlight_headings">deduct my bond</span> without a reasonable reason, how can I solve this problem?  </b>
                        <ul>
                            <li>There are <span class="highlight_word">two methods</span> to tackle with this situation.</li>

                            <li>The <span class="highlight_word">first one</span> is to seek help from your university student support departments like Student welfare or student accommodation office, almost every university has this kind of support center.</li>

                            <li>The <span class="highlight_word">second one</span> is to seek help from Tenants union <a href="https://www.tuv.org.au/">(https://www.tuv.org.au/)</a></li>

                            <li>They have volunteers here to assist you for free. What's more, they also have <span class="highlight_word">language translator service</span>, so you don't worry to speak to them.</li>

                            <li>The third one is Consumer Affairs Victoria <a href="https://www.consumer.vic.gov.au/">(https://www.consumer.vic.gov.au/)</a> if your problems cannot solve by yourself, a face-to-face or telephone assistance will provide for you.</li>
                        </ul>
                        <div class="rating">
                            <b>Is this content useful?</b><br>
                            <!-- Thumbs up -->
                            <div class="like grow">
                                <i class="fa fa-thumbs-up fa-3x like" aria-hidden="true" onclick="comment1()"></i>
                            </div>
                            <!-- Thumbs down -->
                            <div class="dislike grow">
                                <i class="fa fa-thumbs-down fa-3x like" aria-hidden="true"></i>
                            </div>
                            <div id="feedback1"></div>
                        </div>

                        <script>
                            function comment1() {
                                var feedback1 = document.getElementById("feedback1");
                                feedback1.innerHTML = "<b>Thanks for rating!</br>"
                            }
                        </script>
                    </div>
                </div>

                <div class="slide">
                    <!-- lease aggrement -->
                    <div style="text-align:center;margin-top:20px;height:50px;width:80%">
                        <h2 style="font-size: 30px;"><b><span class="heading_highlight">LEASE AGREEMENT</span></b></h2>
                    </div>
                    <div style="width:80%;margin-left:5%">
                        <b style="font-size:20px"><span class="info_highlight">What is a <span class="highlight_headings">lease agreement</span>? Must be in oral or written form ? </span></b>
                        <ul>
                            <li>A rent agreement is a <span class="highlight_word">legal document</span> which lays out the <span class="highlight_word">pre-discussed terms and conditions</span> under which the rented property is leased out that is to be followed <span class="highlight_word">between the landlord and the tenant</span>.</li>
                            <li>Hence, lease agreement is a paper document, ending by <span class="highlight_word">your signature and agency or landlord’s signature</span>.</li>
                        </ul>
                        <b style="font-size:20px"><span class="info_highlight">What should be <span class="highlight_headings">included in a rental agreement?</span></b>
                        <ul>
                            A standard residential lease agreement usually includes
                            <br>

                            <li><span class="highlight_word">Contact details</span> for the lessor and tenant (if the lessor is represented by a property manager, contact information for both should be included)</li>

                            <li>The <span class="highlight_word">address of the property</span> that is being rented</li>

                            <li>Whether a <span class="highlight_word">property manager</span> the lessor should be contacted for urgent repairs</li>

                            <li><span class="highlight_word">Lease terms</span>, such as the tenancy duration, rent amount, and the frequency of rent payments (weekly, monthly, fortnightly, or annually)</li>

                            <li>Rules regarding pets, smoking, or guests</li>

                            <li>The <span class="highlight_word">method of payment</span> accepted for rent, such as cash, cheque, credit, debit, or payroll deduction</li>

                            <li>Whether a rental bond (security deposit) is required</li>

                            <li>The rental agreement should include other details, such as the rental <span class="highlight_word">rights and obligations</span> of the lessor and tenant.</li>
                        </ul>
                        <b style="font-size:20px"><span class="info_highlight">Are there <span class="highlight_headings">any special points</span> to be noted in the lease contract?</span></b>
                        <ul>
                            Here, are
                            <span class="highlight_word">five points</span> on rental agreement to help you avoid traps:

                            <li><span class="highlight_word">Reading thorough your lease from head to end</span>, particularly on how long you’ll be renting the property, how much you will pay each week, and what your responsibilities are.</li>

                            <li><span class="highlight_word">Knowing your rights</span>, it should be detailed in your lease.</li>

                            <li>Bond. You need to know <span class="highlight_word">who is responsible to keep your bond</span>, pay attention <span class="highlight_word">NOT the landlord</span> holds your bond. All rental bonds for tenants must be lodged with the Residential Tenancies Bond Authority (RTBA).</li>

                            <li><span class="highlight_word">Repairs and maintenance</span>. Clear lines of responsibility between your and your landlord on keeping the property in a good condition for the tenant to live in.</li>

                            <li><span class="highlight_word">Leaving the property</span>. You should notify your landlord in advance at least 2 or 3weeks with a writing paper if you don’t want to continue your lease.</li>
                        </ul>
                        <div class="rating">
                            <b>Is this content useful?</b><br>
                            <!-- Thumbs up -->
                            <div class="like grow">
                                <i class="fa fa-thumbs-up fa-3x like" aria-hidden="true" onclick="comment2()"></i>
                            </div>
                            <!-- Thumbs down -->
                            <div class="dislike grow">
                                <i class="fa fa-thumbs-down fa-3x like" aria-hidden="true"></i>
                            </div>
                            <div id="feedback2"></div>
                        </div>

                        <script>
                            function comment2() {
                                var feedback2 = document.getElementById("feedback2");
                                feedback2.innerHTML = "<b>Thanks for rating!</br>"
                            }
                        </script>
                    </div>
                </div>

                <div class="slide">
                    <!-- Rights and Obligations  -->
                    <div style="text-align:center;margin-top:20px;height:50px;width:80%">
                        <h2 style="font-size: 30px;"><b><span class="heading_highlight">RIGHTS AND OBLIGATIONS</span></b></h2>
                    </div>
                    <div style="width:80%;margin-left:5%;margin-top:15px">
                        <b style="font-size:20px"><span class="info_highlight"><span class="highlight_headings">Is it necessary</span> to read the rights and obligations in a lease agreement?</span></b>
                        <ul>
                            <li><span class="highlight_word">Yes</span>, you need to read it carefully although it contains so many contents.</li>
                            <li>Landlords and tenants have various rights and obligations during the tenancy agreement.</li>
                            <li>Knowing your position also is another form of protection.</li>
                        </ul>
                        <b style="font-size:20px"><span class="info_highlight">What are the <span class="highlight_headings">landlords’ rights and obligations</span>?</span></b>
                        <ul>
                            <span class="highlight_word">Rights:</span>
                            <li>To receive rents as agreed.</li>
                            <li>To inspect the property during specific hours and under certain circumstances.</li>
                            <li>To increase the rent within a legally prescribed period of time.</li>
                            <li>To have the property kept free from damage, subletting, excessive noise, disruption to other tenants, etc.</li>
                            <span class="highlight_word">Obligations:</span>
                            <br>
                            <li>Maintain the property.</li>
                            <li>Make and/or pay for necessary repairs.</li>
                            <li>Provide notifications in writing when the property is being transferred to a new owner, or when other changes are made that potentially affect the tenant.</li>
                            <li>Refrain from turning off utilities in an effort to get unpaid rent or otherwise affect a tenant.</li>
                            <li>Ensure the premises remain safe and deal with other tenants who are causing a problem or who are violating the terms and conditions of their lease.</li>
                        </ul>
                        <b style="font-size:20px">
                            <span class="info_highlight">What are the <span class="highlight_headings">tenants’ rights and obligations?</span></span>
                        </b>
                        <ul>
                            <span class="highlight_word">Rights:</span>
                            <li>The right to exclude the landlord from entering the property except for times agreed upon in writing in advance.</li>
                            <li>The right to have the security deposit returned at lease-end, minus any expenses arising from damage or unpaid rents.</li>
                            <li>The right to have the property maintained and appliances repaired in a timely fashion.</li>
                            <li>The right not to be discriminated against during the rental or tenancy phases.</li>
                            <li>The right to be informed in writing of any changes to the contract or landlord-tenant arrangements.</li>
                            <li>The right not to be evicted without proper notice.</li>
                            <span class="highlight_word">Obligations:</span>
                            <li>Paying rent in full and on time every month as agreed.</li>
                            <li>Paying any late fees and bounced check fees as defined in the contract, when necessary.</li>
                            <li>Disposing of garbage in an appropriate and timely fashion.</li>
                            <li>Maintaining the property in a reasonable way and making every effort not to damage the property willfully or negligently.</li></li>
                            <li>Not taking on additional tenants or subletting without the express consent of the landlord.</li>
                            <li>Not creating a disturbance or safety hazard for other residents living in the building.</li>
                        </ul>
                        <div class="rating">
                            <b>Is this content useful?</b><br>
                            <!-- Thumbs up -->
                            <div class="like grow">
                                <i class="fa fa-thumbs-up fa-3x like" aria-hidden="true" onclick="comment3()"></i>
                            </div>
                            <!-- Thumbs down -->
                            <div class="dislike grow">
                                <i class="fa fa-thumbs-down fa-3x like" aria-hidden="true"></i>
                            </div>
                            <div id="feedback3"></div>
                        </div>

                        <script>
                            function comment3() {
                                var feedback3 = document.getElementById("feedback3");
                                feedback3.innerHTML = "<b>Thanks for rating!</br>"
                            }
                        </script>
                    </div>
                </div>

                <div class="slide">
                    <!-- Scams   -->
                    <div style="text-align:center;margin-top:20px;height:50px;width:80%">
                        <h2 style="font-size: 30px;"><b><span class="heading_highlight">SCAMS</span></b></h2>
                    </div>
                    <div style="width:80%;margin-left:5%">
                        <b style="font-size:20px"><span class="info_highlight">What is the <span class="highlight_headings">rental scam?</span></span></b>
                        <ul>
                            <li>scammers may show you through a property, when they have no right to rent it to you.</li>
                            <li>The <span class="highlight_word">scammers may try to appear genuine</span> by providing photos, real addresses ofproperties, land title deeds and even scans of stolen passports.</li>
                            <li>They <span class="highlight_word">scam you by asking for a month's bond</span> and rent to secure the property.</li>
                        </ul>
                        <b style="font-size:20px">
                            <span class="info_highlight">How the <span class="highlight_headings">scam works?</span></span>
                        </b>
                        <ul>
                            <li><span class="highlight_word">Scammers advertise</span> rental properties on well-known property websites. </li>
                            <li>When you express interest, they say they are overseas or interstate and that you must conduct the transaction online.</li>
                            <li>Also, scammers may show you through a <span class="highlight_word">property</span>, when <span class="highlight_word">they have no right to rent it</span> to you.</li>
                            <li>The scammers may try to appear genuine by providing photos, real addresses of properties, land title deeds and even scans of stolen passports.</li>
                            <li>They <span class="highlight_word">scam you by asking for a month’s bond and rent</span> to secure the property.</li>
                            <li>If you pay by money transfer, there is very little chance of recovering your money.</li>
                            <li><span class="highlight_word">Scammers may also ask for</span> personal details such as bank and credit card numbers and driver’s licence details,which they use for credit card and identify fraud.</li>
                        </ul>
                        <b style="font-size:20px">
                            <span class="info_highlight">How <span class="highlight_headings">can I protect</span> myself?</span>
                        </b>
                        <ul>
                            <li>If possible, <span class="highlight_word">verify the identity</span> of the person you are dealing with. </li>
                            <li>For example, if they say they work for an established estate agency, you could contact the agency to confirm you are dealing with their representative.</li>
                            <li>If the property owner offers ongoing excuses about why you cannot view the property in person - such as them being overseas – be wary.</li>
                            <li><span class="highlight_word">Avoid paying via</span> money transfer services, or making a payment directly into a bank account, because these methods may be less secure than using BPAY.</li>
                            <li>If you are <span class="highlight_word">paying a bond for a Victorian property</span>, it's best to pay via a money order or bank cheque made out to the Residential Tenancy Bond Authority (RTBA).</li>
                            <li>Do an internet search with images from the advertising, to check they haven’t been copied from another site. You can use image search websites such as Google images or TinEye.</li>
                        </ul>
                        <div class="rating">
                            <b>Is this content useful?</b><br>
                            <!-- Thumbs up -->
                            <div class="like grow">
                                <i class="fa fa-thumbs-up fa-3x like" aria-hidden="true" onclick="comment4()"></i>
                            </div>
                            <!-- Thumbs down -->
                            <div class="dislike grow">
                                <i class="fa fa-thumbs-down fa-3x like" aria-hidden="true"></i>
                            </div>
                            <div id="feedback4"></div>
                        </div>

                        <script>
                            function comment4() {
                                var feedback4 = document.getElementById("feedback4");
                                feedback4.innerHTML = "<b>Thanks for rating!</br>"
                            }
                        </script>
                    </div>
                </div>
                <div class="slide">
                    <!-- Notice Periods   -->
                    <div style="text-align:center;margin-top:20px;height:50px;width:80%">
                        <h2 style="font-size: 30px;"><b><span class="heading_highlight">NOTICE PERIODS</span></b></h2>
                    </div>
                    <div style="width:80%;margin-left:5%">
                        <b style="font-size:20px"><span class="info_highlight">If I <span class="highlight_headings">don't want to renew my lease</span>, how long should I inform the landlord in advance?</span></b>
                        <ul>
                            <li>A <span class="highlight_word">Notice of Intention to Vacate</span> is simply a letter to the landlord that states the date you will be leaving. </li>
                            <li>This date must be <span class="highlight_word>28 days from the day</span> that the landlord receives the notice.</li>
                            <li>This means that if you send the notice <span class="highlight_word">by mail</span> rather than giving it in person, you need to <span class="highlight_word">allow extra days for delivery</span>.</li>
                            <li>See Australia Post delivery times.</li>
                            <li>You can also send the notice by email if the landlord or agent has agreed to you giving notices this way.</li>
                            <li>If you send the <span class="highlight_word">notice by email</span>, you should make sure it is to the email address nominated by the landlord or real estate agent and if possible <span class="highlight_word">request a read receipt.</span></li>
                            <li>However, we recommend that you use registered mail and keep the mail receipt so you can prove the date that you sent it. You should also keep a copy of your notice.</li>
                        </ul>
                        <b style="font-size:20px"><span class="info_highlight">How long can a tenant <span class="highlight_headings">stay without paying rent</span>?</span></b>
                        <ul>
                            <li>A 3-day notice does not mean you will be kicked out in 3 days.</li>
                            <li>An <span class="highlight_word">eviction process</span> can take 2-3 months or longer.</li>
                            <li>Typically, you will not receive a 3-day notice until you are at least 30 days past due, so at the time of receipt you would owe at least 2 months rent.</li>
                        </ul>
                        <b style="font-size:20px">
                            <span class="info_highlight">Do I have to <span class="highlight_headings">sign a new lease when my fixed term lease ends</span>?</span>
                        </b>
                        <ul>
                            <li><span class="highlight_word">No</span>. There is no requirement to renew or re-sign a fixed term tenancy agreement.</li>
                            <li>When your <span class="highlight_word">lease expires</span>, your tenancy automatically converts to a <span class="highlight_word">periodic tenancy</span>. This is set out in <span class="highlight_word">clause five of the standard tenancy agreement</span>.</li>
                            <li>If the <span class="highlight_word">landlord wants to prevent a periodic tenancy</span> from starting, they have to give you <span class="highlight_word">written notice</span> to move out at the end of the lease, and they <span class="highlight_word">MUST </span>give this to you <span class="highlight_word">at least 26 weeks</span> before your lease ends.</li>
                        </ul>
                        <div class="rating">
                            <b>Is this content useful?</b><br>
                            <!-- Thumbs up -->
                            <div class="like grow">
                                <i class="fa fa-thumbs-up fa-3x like" aria-hidden="true" onclick="comment5()"></i>
                            </div>
                            <!-- Thumbs down -->
                            <div class="dislike grow">
                                <i class="fa fa-thumbs-down fa-3x like" aria-hidden="true"></i>
                            </div>
                            <div id="feedback5"></div>
                        </div>

                        <script>
                            function comment5() {
                                var feedback5 = document.getElementById("feedback5");
                                feedback5.innerHTML = "<b>Thanks for rating!</br>"
                            }
                        </script>
                    </div>
                </div>
            </div>



            <div class="navigation" id="myDIV">
                <label for="r1" class="bar active" style="margin-top:20px;text-align:center;padding:5px"><span class="slide_highlight">Bond</span></label><br>
                <label for="r2" class="bar" style="margin-top:20px;text-align:center;padding:5px"><span class="slide_highlight">Lease agreement</span></label><br>
                <label for="r3" class="bar" style="margin-top:20px;text-align:center;padding:5px"><span class="slide_highlight">Rights & Obligations</span></label><br>
                <label for="r4" class="bar" style="margin-top:20px;text-align:center;padding:5px"><span class="slide_highlight">Scams</span></label><br>
                <label for="r5" class="bar" style="margin-top:20px;text-align:center;padding:5px"><span class="slide_highlight">Notice Periods</span></label>
            </div>

            <script>
                // Add active class to the current button (highlight it)
                var header = document.getElementById("myDIV");
                var btns = header.getElementsByClassName("bar");
                for (var i = 0; i < btns.length; i++) {
                    btns[i].addEventListener("click", function () {
                        var current = document.getElementsByClassName("active");
                        current[0].className = current[0].className.replace(" active", "");
                        this.className += " active";
                    });
                }
            </script>
        </div>
    </section>
    <script>
        var s1 = document.getElementById("section1")
        s1.style.display = "none";
        function display() {
            s1.style.display = "block";
        }
    </script>

    <!-- Footer -->
    <footer class="py-5 bg-black" style="margin-top:0px">
        <div class="container">
            <p class="m-0 text-center text-white small" style="font-weight: 300;letter-spacing: 2px;">Copyright © Tenancy Trip 2019<br>Developed by SCRY</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>
